html { 
  height: 100vh;
}

.bg {
  background: linear-gradient( rgba(255, 255, 255, .3), rgba(255, 255, 255, 0.5) ), url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease; 
  transition: all 1s ease;  
}